.link_to_button {
	display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.link_to_button.success {
	color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.link_to_button.success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.link_to_button.primary {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.link_to_button.primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.link_to_button.info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.link_to_button.info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.link_to_button.secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.link_to_button.secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.link_to_button.danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.link_to_button.danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.link_to_button.warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.link_to_button.warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}
.link_to_button.light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.link_to_button.light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.link_to_button.dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.link_to_button.dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
.link_to_button.large {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.link_to_button.small {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}